/* 背景色変化 */
body{
	animation: bgchange 20s ease infinite;/*変化の時間を変更したい場合は20sの部分を好きな時間に変更*/
}

@keyframes bgchange{
      0%   {background:#464858;}/*変化させたい色*/
      25%  {background:#20262a;}/*変化させたい色*/
      50%  {background:#17172d;}/*変化させたい色*/
      75%  {background:#2c3038;}/*変化させたい色*/
      90%  {background:hwb(201 20% 74%);}/*変化させたい色*/
      100% {background:#3c3e5b;}/*変化させたい色*/
}